.page__section {
  background-color: var(--color-dark-alternate);
}

.hero__inner {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding: 20px;
}

.hero__title {
  /* font-size: 120px; */
  font-size: clamp(38px, 9.02vw, 120px);
  line-height: 1;
}

.hero__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero__link {
  /* font-size: 28px; */
  font-size: clamp(18px, 2.15vw, 28px);
  line-height: 1.2;
}
